{% extends 'skor/base.html' %}

{% block content %}

{% include 'skor/status.html' %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<h5>SISWA:</h5>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="">Tambah Siswa</a>
				<table class="table table-sm">
					<tr>
						<th>Siswa</th>
						<th>NISN</th>
					</tr>

				</table>
			</div>
		</div>

		<div class="col-md-7">
			<h5>5 Pelanggaran Terbaru</h5>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="">Tambah Pelanggaran</a>
				<table class="table table-sm">
					<tr>
						<th>Siswa</th>
						<th>Jenis Pelanggaran</th>
						<th>Tanggal</th>
						<th>Status</th>
						<th>Ubah</th>
						<th>Hapus</th>
					</tr>
			
				</table>
			</div>
		</div>

	</div>
</div>
{% endblock %}