{% extends 'skor/base.html' %}

{% block content %}
<div class="container-fluid">
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Jenis-Jenis Pelanggaran</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Pasal</th>
                        <th>Jenis Pelanggaran</th>
                        <th>Skor</th>
                    </tr>
                    
                    {% for pasal in pasals %}
                    <tr>
                        <td>{{pasal.nama}}</td>
                        <td>{{pasal.jenis}}</td>
                        <td>{{pasal.skor}}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}