{% extends 'skor/base.html' %}
{% load static %}
{% block content %}

<br>
<div class="container-fluid">
    <div class="row">
        <div class="card card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                {{form}}
                <hr>
                {% endfor %}
                <input type="submit" value="Simpan" name="Simpan">
            </form>
        </div>
    </div>
</div>

{% endblock %}