{% extends 'skor/base.html' %}

{% block content %}
<div class="container-fluid">
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Pengajar :</h5>
                <hr>
                <a class="btn btn-outline-info btn-sm btn-block" href="">Ubah Informasi</a>
                <a class="btn btn-outline-secondary btn-sm btn-block" href="{% url 'buat_pelanggaran' pengajar.id %}">Tambah Pelanggaran</a>

            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Informasi Pengajar</h5>
                <hr>
                <p>Nama: {{pengajar.nama}}</p>
                <p>NIP: {{pengajar.nip}}</p>
                <p>Jabatan: {{pengajar.jabatan}}</p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total Laporan</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{total_laporan}}</h1>
            </div>
        </div>
    </div>


    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Cari</button>
            </form>
            </div>
        </div>
        
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Siswa</th>
                        <th>Jenis Pelanggaran</th>
                        <th>Tanggal</th>
                        <th>Status</th>
                        <th>Ubah</th>
                        <th>Hapus</th>
                    </tr>
                    {% for laporan in laporans %}
                    <tr>
                        <td>{{laporan.siswa}}</td>
						<td>{{laporan.pasal}}</td>
						<td>{{laporan.date_created}}</td>
						<td>{{laporan.status}}</td>
						<td><a class="btn btn-sm btn-warning" href="{% url 'ubah_pelanggaran' laporan.id %}">Ubah</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'hapus_pelanggaran' laporan.id %}">Hapus</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}